<nav class="navbar navbar-fixed-top navbar-expand-lg">
  <div class="container">
    <h5 class="nav">My App</h5>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li class="p-2"><%= link_to "Home", root_path %></li>
        <li class="p-2"><%= link_to "Help", static_pages_help_path %></li>
        <% if user_signed_in? %>
            <li class="p-2"><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
            <li class="p-2"><%= link_to "Edit Profile", edit_user_registration_path %></li>
            <li class="p-2"><%= link_to "View Profile", user_path(current_user) %></li>
            <li class="p-2"><%= link_to "Tweet", new_tweet_path %></li>
            <li class="p-2"><%= link_to "Room", new_room_path %></li>
        <% else %>
            <li class="p-2"><%= link_to "Log in", new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</nav>
